

body{
  margin:0px;
 
}

.App{
  width: 100%;;
  
}
.property {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
}

.property img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.filters input, .filters label {
  margin: 8px;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
}


.main-content{
  padding: 20px;
}

.main-heading{
  text-align: center;
}